@font-face {
    font-family: 'Cardenio Modern';
    src: url('assets/fonts/CardenioModern-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cardenio Modern';
    src: url('assets/fonts/CardenioModern-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;

}

